.statistics{
    text-align: center;
  

}

.title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(76, 75, 75);
    width: 500px;
 
    margin-left: auto;
    margin-right: auto;

}

.stat_list{
    width: 500px;
 
  margin-left: auto;
  margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.item{
    display: flex;
    flex-direction: column;
    outline: 1px solid darkgrey;
    padding-top: 5px;
    padding-bottom: 5px;
}

.label{
    color: white;
    font-size: 14px;
}

.percentage{
    color: white;
    font-size: 20px;
}