.statistics{
    border: 2px solid black;
}

.title {
    border: 2px solid black;
}

.stat_list{
    border: 2px solid black;
}

.item{
    border: 2px solid black;
}

.label{
    border: 2px solid black;
}

.percentage{
    border: 2px solid black;
}