.transaction_history {
  /* text-align: right; */
  /* width: 600px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse;
  /* border-radius: 15px 15px 0 0; */
  box-shadow: 0 1px 3px rgb(0 0 0/12%), 0 1px 1px rgb(0 0 0/14%),
    0 2px 1px rgb(0 0 0/20%);
}

thead {
  background-color: rgb(73, 96, 247);
  border-radius: 15px 15px 0 0;
}

th {
  color: #edf1f7;
  padding: 15px;
  border: 1px solid #c6daf9;
}

td {
  width: 33%;
  color: #6b6c6e;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
  border: 1px solid #b4c3de;
  text-align: center;
}

tr:nth-child(2n) {
  background: #fafafa;
}

.td_left_text {
  text-align: left;
}
.td_center_text {
  text-align: right;
}
